fastapi
uvicorn
crewai
langchain
langchain-anthropic
langchain-text-splitters
chromadb
sentence-transformers
pypdf
praw
supabase
python-dotenv
pydantic-settings
sqlalchemy
psycopg2-binary
spacy
textblob
vaderSentiment
pandas
geopandas
shapely
requests
geopandas
geoalchemy2