fastapi
uvicorn
langchain
langchain-anthropic
chromadb
sentence-transformers
pypdf
praw
supabase
python-dotenv
pandas
geopandas
shapely
requests
nltk
gensim
scikit-learn
spacy
textblob
vaderSentiment
jupyter
matplotlib
seaborn
plotly
wordcloud
pyLDAvis
openpyxl